<!DOCTYPE html>
<html lang="en">
<head>
	{% include "head.html.twig" %}
</head>

<body>

<header id="header">

	{% include "header.html.twig" %}

</header>

<section id="slider">

	{% include "slider.html.twig" %}

</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">

				{% include "categories.html.twig" %}

			</div>

			<div class="col-sm-9 padding-right">
				<div class="features_items displayEvents">
					<h2 class="title text-center">Features Items</h2>

					{% block "CONTENT" %}

				</div>

			</div>

		</div>
	</div>
	</div>
</section>

<footer id="footer"><!--Footer-->

	{% include "footer.html.twig" %}

	<div class="footer-bottom">

		{% include "footerBottom.html.twig" %}

	</div>

</footer>

<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery.scrollUp.min.js"></script>
<script src="../js/price-range.js"></script>
<script src="../js/jquery.prettyPhoto.js"></script>
<script src="../js/main.js"></script>
</body>
</html>